[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
werkzeug = "*"
jinja2 = "*"
flask-wtf = "*"
flask-bootstrap = "*"
validators = "*"
pytest = "*"
wtforms = "*"
prospector = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
